@font-face {
  font-family: 'holberton_school-icon';
  src:  url('fonts/holberton_school-icon.eot?sq4eq4');
  src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'holberton_school-icon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Demo CSS */

.holberton_school-icon-ic_sound:before {
  content: "\e90e";
}

.holberton_school-icon-ic_music:before {
  content: "\e90d";
}

.holberton_school-icon-ic_video:before {
  content: "\e910";
}

.holberton_school-icon-ic_hearing:before {
  content: "\e909";
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  background: #fff;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
small {
  font-size: .66666667em;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover, a:focus {
  box-shadow: 0 1px #e74c3c;
}

input:hover {
  box-shadow: inset 0 -2px #ccc;
}
input, fieldset {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  color: inherit;
  line-height: 1.5;
  height: 1.5em;
  padding: .25em 0;
}
input:focus {
  outline: none;
  box-shadow: inset 0 -2px #449fdb;
}
.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: flex;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}



:root {
    --color-primary: #D73953;
    --color-accent: #ff6565;
    --color-black:  #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --color-red: #cd3e65;
    --color-green: #08805b;
  
    --text-color: var(--color-black);
    --valid-color: var(--color-green);
    --error-color: var(--color-red);
  
    --font-family-base: 'Source Sans Pro', sans-serif;
    --font-family-title: 'Source Sans Pro'，'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
  
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
  
    /** SECTION **/
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-header-align: center;
    --section-title-font-size: var(--font-size-xx-large);
    --section-title-font-weight: var(--font-weight-bold);
    --section-title-line-height: var(--line-height-small);
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
    --section-tagline-transform: uppercase;
    --section-tagline-color: var(--color-primary);
    --section-tagline-font-family: var(--font-family-headings);
    --section-tagline-font-weight: var(--font-weight-bold);
    --section-tagline-margin: 0;
    --section-body-padding: 2rem 0 4rem;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;
  
    /** HEADER **/
    --header-padding: 4rem 0 0;
  
    /** FOOTER **/
    --footer-padding: 5rem 0 1rem;
  
    /** NAVBAR **/
    --nav-item-font-family: var(--font-family-headings);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: .04rem;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 0 2rem;
    --nav-item-link-hover: var(--color-white);
  
    /** BUTTON **/
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: var(--color-primary) solid 0.2rem;
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);
  
    /** MOTION **/
    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
  }
  
  /* Base
      ============================= */
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  }
  
  body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  a:visited {
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    background-color: var(--color-light-grey);
  }
  

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* buttons */

.btn {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.3rem 3rem;
    border: 0;
    border-radius: 22px;
    cursor: pointer;
    white-space: nowrap;
    opacity: 0.9;
    transition: opacity 0.15s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 1;
}


.btn--primary {
    background-color: var(--color-accent);
    color: var(--color-white);
}


/* Header
    ============================= */

.header {
    padding: var(--header-padding);
    position: relative;
    z-index: 3;
    background: transparent;
}
.header-logo {
    margin-left: 2rem;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .menu-icon {
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
    display: block;
}

.header .menu-icon .navicon {
    background: var(--color-white);
    display: block;
    width: 1.3rem;
    height: .2rem;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
    content: '';
    display: block;
    width: 150%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all .2s ease-out;
}

.header .menu-icon .navicon::before {
    top: .7rem;
}

.header .menu-icon .navicon::after {
    top: -.7rem;
}
/* menu btn
============================= */
.header .menu-btn {
    display: none;
}

.menu-btn:checked ~ .navbar-menu {
    display: block;
}

.menu-btn:checked ~ .navbar-menu .nav {
    max-height: 100%;
    overflow: inherit;
}

.header .menu-btn:checked + .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked + .menu-icon .navicon::before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked + .menu-icon .navicon::after {
    transform: rotate(45deg);
}

.header .menu-btn:checked + .menu-icon .navicon::before,
.header .menu-btn:checked + .menu-icon .navicon::after {
    top: 0;
}

/* Nav bar */

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    margin: 2rem 1rem;
  }
  
  .nav .nav-link {
    display: block;
    padding: 0.5rem 0;
    position: relative;
    color: white;
  }
  
  .nav .nav-link:hover,
  .nav .nav-link:visited {
    color: #ff6565;
    text-decoration: none;
  }
  
  /* .nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 0.2rem;
    transition: var(--transition-duration) var(--transition-cubic-bezier);
  }
  
  .nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
  } */

  .nav__list {
    text-align: right;
}

.navbar-menu {
    width: 100%;
    display: none;
}

  @media screen and (max-width: 480px) {
    /* .navbar-menu {
      display: none;
      flex: 1;
    } */

    :root {
      --nav-item-margin: 0;
    }

    .header .nav {
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      transition: max-height .2s ease-out;
    }

  }

  @media screen and (min-width: 600px) {
    .header-container {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .nav {
        display: flex;
        justify-content: flex-end;
        padding-right: 10rem;
    }

    .navicon {
        display: none;
    }
    .header .menu-btn {
        display: none;
      }
    .header .menu-icon {
        display: none;
      }
    .navbar-menu {
        display: block;
    }
  }

  /* Hero */

.hero {
    background: url(./images/headphones_hero_1.jpg) center center no-repeat;
    background-size: cover;
    /* height: 800px; */
    text-align: center;
}

.hero--heading {
    color: var(--color-white);
    font-size: 3.2rem;
    font-weight: bold;
    padding-top: 20rem;
}

.hero__tagline {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.hero__description {
    font-weight: 300;
    line-height: 2.6rem;
    margin-top: 10rem;
    padding-bottom: 5rem;
}

/* what we do */

.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}

.fs1 {
  font-size: 32px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.block{
  text-align: center;
}

.block--image {
  color: #ff6565;
  font-size: 10rem;
}

.block--heading {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: bold;
}

.block--content {
  font-size: 1.4rem;
  max-width: 20rem;
  text-align: center;
  margin: auto;
}

.session--heading {
  padding-top: 10rem;
  padding-bottom: 3rem;
  font-weight: 600;
}

.session--content {
  font-size: 1.6rem;
  width: 50%;
  margin: 0 auto;
}

.session--div {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  
}

.hero--heading {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hero__tagline {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .session--content {
    width: 90%;
  }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .session--div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.glyph {
  font-size: 16px;
  width: 100%;
  padding-bottom: 1em;
  margin-right: auto;
  margin-bottom: auto;
  float: none;
  /* overflow: hidden; */
}

@media screen and (min-width: 768px) {
  .session--div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .glyph {
    font-size: 16px;
    width: 100%;
    padding-bottom: 1em;
    margin-right: auto;
    margin-bottom: auto;
    float: none;
    /* overflow: hidden; */
  }
}

/* result */

.section--result {
  background: url(images/headphones_hero_2.jpg) center center no-repeat;
  background-size: cover;
  color: white;
}

.block-result {
  position: relative;
  margin: 5rem auto;
}

.block-result img {
  width: 19rem;
  height: auto;
}

.block-result .block--result--content {
  position: absolute;
  z-index: 2;
  left: 5rem;
  top: 2rem;
}

.block--result--heading {
    color: white;
    font-weight: bold;
    font-size: 4.6rem;
}

.block--result--info {
  position: absolute;
  z-index: 2;
  left: 4rem;
  top: 12rem;
}

.block--result--info--style {
  color: white;
  font-size: 1.4rem;
}

/* contact block */

.block--contact {
  width: 34rem;
  text-align: center;
  margin: 10rem auto;
}

.block--contact--form {
  display: flex;
  flex-direction: column;
}

.block--contact--form--group {
  margin-bottom: 10rem;
}

.form--info {
  display: flex;
  white-space: nowrap;
  margin: 3rem auto 2rem 1rem;
  border-bottom: 1px solid #071629;
  width: 100%;
  line-height: 3rem;
}

.form--input {
  border: none;
  margin-left: 2rem;
}

.btn--contact {
  margin-top: 5rem;
  align-self: center;
  width: 50%;
}

.lable__font {
  font-size: 1.4rem;
  font-weight: 600;
}

.contact--heading {
  font-size: 3.2rem;
}

/* Footer */

/* .footer {
  background-color: #071629;
  height: 500px;
  display: flex;
} */