

.block-result img {
    width: 19rem;
    height: auto;
}

  .block--result--content {
    position: absolute;
    z-index: 2;
    left: 5rem;
    top: 4rem;
  }

  .block--result--heading {
      color: white;
      font-weight: bold;
      font-size: 4.6rem;
  }

  .block--result--info {
    position: absolute;
    z-index: 2;
    left: 4.5rem;
    top: 12rem;
  }

  .block--result--info--style {
    color: white;
    font-size: 1.4rem;
  }